
# csv files
*.csv
# text files
*.txt
#cachefile
*.pyc
__pycache__/
.vscode/
#experiment images
*.png
*.ipynb_checkpoints
#log files
log/*
#pickle files
lgb_optuna*
optuna_lgb
lgb_hyperopt*
lgb_optuna
lgb_random_search
